@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div>
            <CENTER>
                <img src="https://image.shutterstock.com/image-photo/large-beautiful-drops-transparent-rain-260nw-668593321.jpg" />
            </CENTER>
        </div>
        <H1 class="display-4"><b>Welcome</b></H1>
        <H1>This is my first Blog</H1>
        <H2>It is Nice Seeign You Here</H2>
        <P>
            Thank you for coming here on my blog to read it. In this blog we are going to talk about CI/CD Pipeline.<br />
            CI/CD stands for Continuous Integration and Continuous Delivery it is an embody of operation, <br />
            culture and collecting practice that helps the development team to change the code more easily<br /> 
            and reliably if there are any in the application or website using the CI/CD pipeline. <br />
            They are one of the best practices of DevOps.
        </P>
    </div>
